/*
    CSS Color Palette
    Black:
     Leather #0B0705
    Blue:
     rgba(27, 74, 202, 0.95)
*/

* {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(177, 130, 0) 5%, rgb(0, 60, 255) 25%, #4b037a 60%, rgb(90, 0, 112) 85%, black 100%);
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    opacity: 0.25;
    mix-blend-mode: multiply;
    background: url('https://www.transparenttextures.com/patterns/sandpaper.png');
    background-size: 200px 200px;
}


img[alt] {
    color: transparent;
    text-shadow: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    max-width: 900px;
    height: 60px;
    position: sticky;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(27, 74, 202, 0.95);
    border-radius: 200px;
    box-shadow: 0 4px 34px rgba(0, 60, 255, 0.664);
    margin: 0 auto;
    align-items: center;
    padding: 0 24px;
}

main {
    background-color: #2b2b2b;
    border-radius: 20px;
}

.home_button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.title {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-button {
    font-size: medium;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    margin: 2px;
    background-color: #2b2b2b;
    color: white;
    transition: background-color 0.2s ease;
}

.nav-button:hover {
    transition: 0.2s ease;
    background-color: black;
    cursor: pointer;
}