/*
    CSS Color Palette
    Black:
     Leather #0B0705
    Blue:
     rgba(27, 74, 202, 0.95)
*/

* {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    background-color: #0B0705;
}


img[alt] {
    color: transparent;
    text-shadow: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    max-width: 900px;
    height: 60px;
    position: sticky;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(27, 74, 202, 0.95);
    border-radius: 200px;
    box-shadow: 0 4px 34px rgba(0, 60, 255, 0.664);
    margin: 0 auto;
    align-items: center;
    padding: 0 24px;
}

.home_button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.title {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    margin: 2px;
    background-color: #2b2b2b;
    color: white;
    transition: background-color 0.2s ease;
}

.nav-button:hover {
    transition: 0.2s ease;
    background-color: black;
    cursor: pointer;
}